---
import PostsLayout from "../../layouts/PostsLayout.astro";

export const frontmatter = {
  image_author: "../public/assets/UserImages/AlejandroLobos.png",
  img: "../../assets/frameworks/astro.png",
  title: "Primeros pasos con Astro",
  date: "1/1/2024",
  tags: ["Frameworks", "Design", "SaaS"],
  author: "Sofia Fernandez",
};
---

<PostsLayout
  image_author={frontmatter.image_author}
  img={frontmatter.img}
  title={frontmatter.title}
  tags={frontmatter.tags}
  date={frontmatter.date}
  author={frontmatter.author}
>
  <p>
    Astro es un framework moderno para construir sitios web rápidos y
    eficientes. En este artículo, exploraremos cómo comenzar con Astro y crear
    tu primer proyecto.
  </p>
  <h2>Instalación</h2>
  <p>
    Para instalar Astro, necesitas Node.js. Usa el comando <code
      >npm create astro@latest</code
    > para empezar.
  </p>
</PostsLayout>
