---
import CardLayout from "../layouts/CardLayout.astro";
import { Posts } from "./repository/Posts";
---

<div>
  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        Posts.map((post) => (
          <a href={post.ref}>
            <CardLayout
              ref={post.ref}
              img={post.img}
              title={post.title}
              date={post.date}
              description={post.description}
              tags={post.tags}
            />
          </a>
        ))
      }
    </div>
  </main>
</div>
